<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
        <!-- Navbar -->
        {{>navbar}}
        <!-- Main Header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                    <div class="row">
                        <!-- left side div -->
                        <div class="col-md-12 col-12 main_header_left align-items-center ">
                            <div class="erralign">
                                <figure>
                                <img src="img/error.png" alt="Alok" class="imagealignabout" title="Alok Project">
                            </figure>  
                            <h1>{{errormsg}}</h1>
                            <a href="/"><button>Go back</button></a> 
                       
                            </div>
                             </div>
                        
                    
    
                        </div>
                    </div>    
    
                    <!-- <footer>made by Alok Baluni.</footer> -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>